body { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 20px; 
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 20px;

}

.title h1 {
    margin: 0;
    font-size: 26px;
    color: #2c3e50;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

form input,
form select,
form button {
    padding: 8px;
    font-size: 14px;
}

form button {
    width: 160px;
    align-self: center;
    cursor: pointer;
}

input, select, button { 
    display: block; 
    margin: 5px 0; 
    padding: 8px; 
}

.container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f0f0f0;
}


.container {
   width: 90%;
    max-width: 900px;
    background: #ffffff;
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.grades-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.grades-table th,
.grades-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.grades-table th {
    background-color: antiquewhite;
}

.message {
    margin-top: 20px;
    font-weight: bold;
}
.subject {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}


